<h4 class="resume-skills-cat font-weight-bold">Others</h4>

<ul class="list-inline">
  <li class="list-inline-item"><span class="badge badge-light">DevOps<%- include('partials/snippets/remove.ejs',{delete_url:"/"}); %></span></li>
  <li class="list-inline-item"><span class="badge badge-light">Code Review</span></li>
  <li class="list-inline-item"><span class="badge badge-light">Git</span></li>
  <li class="list-inline-item"><span class="badge badge-light">Unit Testing</span></li>
  <li class="list-inline-item"><span class="badge badge-light">Wireframing</span></li>
  <li class="list-inline-item"><span class="badge badge-light">Sketch</span></li>
  <li class="list-inline-item"><span class="badge badge-light">Balsamiq</span></li>
  <li class="list-inline-item"><span class="badge badge-light">WordPress</span></li>
  <li class="list-inline-item"><span class="badge badge-light">Shopify</span></li>
</ul>
  <%- include('partials/snippets/add.ejs',{add_url:'/other_skills/new'});%>
