<p></p>
<p></p>
<h4 class="resume-skills-cat font-weight-bold">Others</h4>
<% if (profile.otherSkills) { %>
  <ul class="list-inline">
   <% profile.otherSkills.forEach(function(skill){ %>
    <li class="list-inline-item"><span class="badge badge-light"><%= skill.title %><%- include('partials/snippets/remove.ejs',{delete_url:"/other_skills/"+skill._id+"/delete"}); %></span></li>
   <% })%>
</ul>
<% } %>
<%- include('partials/snippets/add.ejs',{add_url:'/other_skills/new'});%>
