<section class="resume-section skills-section mb-5">
  <div class="d-inline-flex">

  <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools</h2>
  </div>
  <div class="resume-section-content">
      <div class="resume-skill-item">
        <%# <h4 class="resume-skills-cat font-weight-bold">Frontend</h4> %>
        <% if (profile.skills.length > 0) { %>
          <ul class="list-unstyled mb-4">
          <% profile.skills.forEach(function(skill){ %>
              <li class="mb-2">
                  <div class="resume-skill-name">
                    <div class=" ml-auto">
                        <%= skill.title %>
                      <div class="d-inline-flex">
                        <%- include('partials/snippets/remove.ejs',{delete_url:"/skills/"+skill._id+"/delete"}); %>
                      </div>
                    </div>
                  </div>
                <div class="progress resume-progress">
                <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width:<%= skill.proficency %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
              </li>
        <%  })%>
        </ul>
        <% } %>
      </div><!--//resume-skill-item-->
      <p></p>
      <%- include('partials/snippets/add.ejs',{add_url:'skills/new'}) %>
      <div class="resume-skill-item">
          <% include other_skills.ejs %>
      </div><!--//resume-skill-item-->
  </div><!--resume-section-content-->
</section><!--//skills-section-->
