<% include partials/header.ejs %>

    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">

       <% include partials/resume_header.ejs %>


		    <div class="resume-body p-5">

         <% include partials/about_me.ejs %>

			    <div class="row">

            <% include partials/projects.ejs %>

				    <div class="col-lg-3">

              <% include partials/skills.ejs %>

              <% include partials/education.ejs %>

					    <% include partials/achievements.ejs %>

              <% include partials/languages.ejs %>

					    <% include partials/interests.ejs %>

				    </div>

			    </div><!--//row-->

		    </div><!--//resume-body-->


	    </div>
    </article>


<% include partials/footer.ejs %>
