<% include partials/header.ejs %>

     <%# add class 'resume-wrapper' for upper card padding  %>
    <article class=" text-center position-relative">
      <%# add class 'resume-wrapper-inner' for card effect  %>
	    <div class=" mx-auto text-left bg-white shadow-lg">

       <%- include('partials/resume_header.ejs',{profile:profile}) %>


		    <div class="resume-body p-5">

         <%- include('partials/about_me.ejs',{about_me:profile.about}) %>

			    <div class="row">

            <% include partials/projects.ejs %>

				    <div class="col-lg-3">

              <% include partials/skills.ejs %>

              <% include partials/education.ejs %>

              <% include partials/training.ejs %>

              <% include partials/achievements.ejs %>

					    <% include partials/interests.ejs %>

				    </div>

			    </div><!--//row-->

		    </div><!--//resume-body-->


	    </div>
    </article>


<% include partials/footer.ejs %>
