<% if (superuser) { %>
<div >
<% if (typeof form_url != 'undefined' || typeof text != 'undefined' ) { %>
  <form class="" action="" method="post">
  <a id="edit" href="<%= form_url %> "><span class="fa-container text-center mr-2"><i class="far fa-edit edit-option" form_url="<%= form_url %>"></i></span>
  <%= text %>
  </a>
    </form>
<% } %>
</div>
<% } %>
