<% include ../partials/header.ejs %>
<div class="container col-lg-8">
<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>
<form class="" action="/about" method="post">
  <div class="form-group">
  <label for="exampleFormControlTextarea1">About Me</label>
  <textarea class="form-control" name="about" id="exampleFormControlTextarea1" placeholder="Your Description" rows="3"><%= profile.about %></textarea>
</div>
 <button type="submit" class="btn btn-primary">Save</button>
</form>

</div>
<% include ../partials/footer.ejs %>
