<% include ../partials/header.ejs %>


<div class="fields container col-lg-6">
     <p></p>



     <p></p>
     <form class="" action="/skills" method="post">
       <div >
       <div class="form-group">
         <label for="skillName">Add New Skill</label>
         <input type="text" name="skills[title]" class="form-control" id="skillName" placeholder="Skill">
       </div>
       <div class="form-group">
         <label for="skillproficency">Proficency</label>
         <input type="range" name="skills[proficency]" id="skillproficency" class="form-control" name="" value="">
       </div>
       </div>
       <p></p>
       <input type="submit" class="btn btn-primary" name="" value="Save">
     </form>
</div>
<% include ../partials/footer.ejs %>
